<nav class="navbar navbar-expand-lg portfolio-navbar">
  <div class="container"> <button class="navbar-toggler ms-auto" type="button" (click)="toggleMenu()" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" [ngClass]="{ 'show': !isMenuCollapsed }">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="#home" (click)="closeMenu()">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#about" (click)="closeMenu()">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#skills" (click)="closeMenu()">Skills</a></li>
        <li class="nav-item"><a class="nav-link" href="#experience" (click)="closeMenu()">Experience</a></li>
        <li class="nav-item"><a class="nav-link" href="#projects" (click)="closeMenu()">Projects</a></li>
        <li class="nav-item"><a class="nav-link contact-btn" href="#contact" (click)="closeMenu()">Contact Me</a></li>
      </ul>
    </div>
  </div>
</nav>